@font-face {
  font-family: "weather-iconfont"; /* Project id 2747456 */
  src: url("iconfont.woff2?t=1655704017081") format("woff2"),
    url("iconfont.woff?t=1655704017081") format("woff"),
    url("iconfont.ttf?t=1655704017081") format("truetype");
}
.weather-iconfont {
  font-family: "weather-iconfont" !important;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}
.weather-icon-youfeng::before {
  content: "\e6b8";
}
.weather-icon-304-leizhenyubanyoubingbao::before {
  content: "\e62f";
}
.weather-icon-317-baoyudaodabaoyu::before {
  content: "\e630";
}
.weather-icon-500-baowu::before {
  content: "\e631";
}
.weather-icon-501-wu::before {
  content: "\e632";
}
.weather-icon-502-mai::before {
  content: "\e633";
}
.weather-icon-410-dadaobaoxue::before {
  content: "\e634";
}
.weather-icon-309-maomaoyu-xiyu::before {
  content: "\e635";
}
.weather-icon-308-jiduanjiangyu::before {
  content: "\e636";
}
.weather-icon-102-shaoyun::before {
  content: "\e637";
}
.weather-icon-100-qing::before {
  content: "\e638";
}
.weather-icon-311-dabaoyu::before {
  content: "\e639";
}
.weather-icon-310-baoyu::before {
  content: "\e63a";
}
.weather-icon-305-xiaoyu::before {
  content: "\e63b";
}
.weather-icon-307-dayu::before {
  content: "\e63c";
}
.weather-icon-306-zhongyu::before {
  content: "\e63d";
}
.weather-icon-504-fuchen::before {
  content: "\e63e";
}
.weather-icon-503-yangsha::before {
  content: "\e63f";
}
.weather-icon-457-zhenxue::before {
  content: "\e640";
}
.weather-icon-499-xue::before {
  content: "\e641";
}
.weather-icon-456-zhenyujiaxue::before {
  content: "\e642";
}
.weather-icon-507-shachenbao::before {
  content: "\e643";
}
.weather-icon-318-dabaoyudaotedabaoyu::before {
  content: "\e644";
}
.weather-icon-399-yu::before {
  content: "\e645";
}
.weather-icon-509-nongwu::before {
  content: "\e646";
}
.weather-icon-400-xiaoxue::before {
  content: "\e647";
}
.weather-icon-350-zhenyu::before {
  content: "\e648";
}
.weather-icon-154-yin::before {
  content: "\e649";
}
.weather-icon-351-qiangzhenyu::before {
  content: "\e64a";
}
.weather-icon-314-xiaodaozhongyu::before {
  content: "\e64b";
}
.weather-icon-312-tedabaoyu::before {
  content: "\e64c";
}
.weather-icon-313-dongyu::before {
  content: "\e64d";
}
.weather-icon-315-zhongdaodayu::before {
  content: "\e64e";
}
.weather-icon-316-dadaobaoyu::before {
  content: "\e64f";
}
.weather-icon-150-qing::before {
  content: "\e650";
}
.weather-icon-300-zhenyu::before {
  content: "\e651";
}
.weather-icon-153-qingjianduoyun::before {
  content: "\e652";
}
.weather-icon-401-zhongxue::before {
  content: "\e653";
}
.weather-icon-104-yin::before {
  content: "\e654";
}
.weather-icon-405-yuxuetianqi::before {
  content: "\e655";
}
.weather-icon-508-qiangshachenbao::before {
  content: "\e656";
}
.weather-icon-408-xiaodaozhongxue::before {
  content: "\e657";
}
.weather-icon-409-zhongdaodaxue::before {
  content: "\e658";
}
.weather-icon-403-baoxue::before {
  content: "\e659";
}
.weather-icon-404-yujiaxue::before {
  content: "\e65a";
}
.weather-icon-301-qiangzhenyu::before {
  content: "\e65b";
}
.weather-icon-302-leizhenyu::before {
  content: "\e65c";
}
.weather-icon-402-daxue::before {
  content: "\e65d";
}
.weather-icon-513-yanzhongmai::before {
  content: "\e65e";
}
.weather-icon-303-qiangleizhenyu::before {
  content: "\e65f";
}
.weather-icon-514dawu::before {
  content: "\e660";
}
.weather-icon-515-teqiangnongwu::before {
  content: "\e661";
}
.weather-icon-511-zhongdumai::before {
  content: "\e662";
}
.weather-icon-901-leng::before {
  content: "\e663";
}
.weather-icon-407-zhenxue::before {
  content: "\e664";
}
.weather-icon-510-qiangnongwu::before {
  content: "\e665";
}
.weather-icon-900-re::before {
  content: "\e666";
}
.weather-icon-406-zhenyujiaxue::before {
  content: "\e667";
}
.weather-icon-999-weizhi::before {
  content: "\e668";
}
.weather-icon-103-qingjianduoyun::before {
  content: "\e669";
}
.weather-icon-512-zhongdumai::before {
  content: "\e66a";
}
.weather-icon-101-duoyun::before {
  content: "\e66b";
}
